@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .modal-commment {
    margin-bottom: 16px;
  }
  .modal {
    width: 408px;
    height: 584px;
  }
  .modal {
    padding-left: 24px;
    padding-right: 24px;
  }
  .excerpt {
    margin-right: 24px;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .form-registration {
    width: 264px;
  }
  .position {
    display: flex;
    align-items: baseline;
  }
  .form-table {
    margin-left: 80px;
  }
  .subtitle-position {
    margin-left: 120px;
  }
  .icons {
    gap: 24px;
  }
  .image {
    margin-right: 24px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .thumbnail {
      background-image: url("../images/people-office.dek2x.jpg");
    }
  }
  .title {
    font-size: 56px;
    width: 496px;
  }
  .content-last {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .item {
    width: 264px;
    font-weight: 400;
  }
  .subject {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .aside {
    list-style-type: none;
    display: flex;
  }
  .avatar {
    display: block;
  }
  .avatar {
    display: flex;
    justify-content: center;
    padding: 24px 100px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .avatar-icon {
    width: 64px;
    height: 64px;
  }
  .headert {
    padding-top: 24px;
    border-bottom: 1px solid #e7e9fc;
  }

  .site-nav .nav {
    display: block;
  }
  .site-nav .nav-flex:not(:last-child) {
    margin-right: 40px;
  }
  .site-nav {
    font-weight: 500;
    list-style-type: none;
    display: flex;
    margin-left: 76px;
    position: relative;
  }
  .navigation {
    display: flex;
    text-align: center;
    padding-bottom: 28px;
  }

  .address-list-item {
    letter-spacing: 0.02em;
    font-weight: 500;
    display: flex;
    margin-left: 332px;
  }

  .address-list-item .nav-flex + .nav-flex {
    margin-left: 40px;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-pos {
    display: none;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .inner {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .image:last-child {
    margin-right: 0px;
  }
}
