a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .holder {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .address-list-item {
    letter-spacing: 0.04em;
    font-weight: 400;
  }
}

.logo > span {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #2e2f42;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.address-list-item {
  font-size: 16px;
  line-height: 1.5;

  list-style-type: none;
  font-style: normal;

  display: flex;
}

.nav-active::after {
  content: "";
  position: absolute;
  display: block;
  background: #404bbf;
  border-radius: 2px;
  width: 66px;
  height: 4px;
  margin-top: 24px;
}

.nav {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.address-list:hover,
.address-list:focus {
  color: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.navigation-active::after {
  content: "";
  position: absolute;
  display: block;
  background: #404bbf;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  margin-top: 24px;
}
.nav:hover,
.nav:focus {
  color: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.address-list {
  text-decoration: none;
  color: #434455;
}
@media screen and (max-width: 480px) {
  .avatar {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .item {
    text-align: center;
  }
}

/* Секция Герой */
.title {
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: #ffffff;
  margin: auto;
}
.thumbnail {
  background-size: cover;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.btn-tiny {
  list-style-type: none;
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
}
.btn-large {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
  display: inline-block;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  min-width: 30px;
  padding: 12px 24px;
}
.btn-large:hover,
.btn-large:focus {
  background-color: #404bbf;
  color: #ffffff;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.btn {
  font-weight: 500;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  display: inline-block;
  min-width: 169px;
  text-align: center;
  margin-top: 48px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
/* Секция1 */

.subject {
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.item {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  list-style-type: none;
  margin-top: 0;
}
.aside {
  list-style-type: none;
}

.excerpt:last-child {
  margin-bottom: 0px;
}

/* Секция2 */
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-top: 0;
}
.content {
  padding-bottom: 120px;
}
.pic {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.image {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

/* Секция3 */
.foto {
  padding: 32px 16px;
}
.position-block {
  display: flex;
  flex-wrap: wrap;
}
.userpic {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.userpic-item-list {
  height: 40px;
  width: 40px;
  background: #4d5ae5;
  border-radius: 50%;
}
.userpic-item {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.userpic-list {
  width: 100%;
}
.userpic-item-list:hover,
.userpic-item-list:focus {
  background: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.thumb {
  text-decoration: none;
}

.headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.headline-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: #434455;
  margin: 0;
}
.desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: #434455;
  margin-bottom: 8px;
}
.picture {
  list-style-type: none;
  margin-top: 0;
  display: flex;
  text-align: center;
}
.inner {
  background: #f4f4fd;
}

/* Секция 4 */
.icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.icons-list {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.icons-item:is(:hover, :focus) .icons-item-list {
  fill: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.icons-list:hover,
.icons-list:focus {
  fill: #404bbf;
  border: 1px solid #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.icons-item {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}
.icons-item-list {
  width: 104px;
  height: 56px;
  fill: #afb1b8;
}

/* Футер */
.logo-desc {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  background-color: #2e2f42;
  text-decoration: none;
  margin-bottom: 16px;
}
.logo-desc > span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}
.footer {
  background-color: #2e2f42;
}
.items {
  color: #e7e9fc;
  background-color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0px;
  width: 264px;
}

.snippet {
  width: 264px;
}

.subtitle-icon {
  display: flex;
  gap: 16px;
}

.subtitle-list {
  display: flex;
  list-style: none;
  width: 40px;
  height: 40px;
}
.subtitle-item {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.subtitle {
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.subtitle-item:hover,
.subtitle-item:focus {
  background: #31d0aa;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-pos-btn {
  display: flex;
}
.modal-picture-svg {
  position: absolute;
  fill: #ffffff;
  margin-left: 16px;
}
.form-posit {
  display: flex;
}

.form-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}

.form-btn {
  display: inline;
  margin-left: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 8px 64px 8px 24px;
  border: none;
}
.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.form-registration {
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.form-registration:focus {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* Portfolio */

.item-list {
  width: 360px;
  margin-bottom: 48px;
  margin-right: 24px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.item-list:hover,
.item-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.item-list:nth-child(3n) {
  margin-right: 0px;
}
.item-list:nth-child(n + 7) {
  margin-bottom: 0;
}
.control {
  padding-top: 96px;
  padding-bottom: 120px;
}
.wide {
  margin-right: 24px;
}
.wide:last-child {
  margin-right: 0px;
}
.huge {
  padding: 32px 16px;
}
.overlay-position {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background: #4d5ae5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.thumb-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 164px 32px;
}
/* Модельное Окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: cubic-bezier(0.4, 0, 0.2, 1) scale(1.1);
  opacity: 1;
  visibility: visible;
}
.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.1);
}
.backdrop.is-hidden.modal {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 72px;
  padding-bottom: 24px;
}
.modal-svg {
  position: absolute;
  transform: translate(-50%, -50%);
}

.modal-btn {
  position: absolute;
  right: 0%;
  top: 0%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
}
.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-btn:is(:hover, :focus) .modal-svg {
  fill: #ffffff;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #8e8f99;
  font-weight: 400;
  padding-left: 38px;
  outline: transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  margin-bottom: 8px;
}
.modal-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-input:focus + .modal-svg-pic {
  fill: #4d5ae5;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  margin-bottom: 8px;
  padding-left: 38px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-name {
  position: relative;
  display: block;
}
.modal-input-name:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-input-name:focus + .modal-svg-pic {
  fill: #4d5ae5;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-svg-pic {
  position: absolute;
  top: 60%;
  left: 19px;
  transform: translateY(-50%);
}
.modal-lead {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
  position: relative;
}

.modal-commment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  resize: none;
  padding: 16px 8px 16px 8px;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 16px;
}
.user-com {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.user-phone {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #8e8f99;
  display: block;
}
.user-name {
  display: block;
}
.user-email {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #8e8f99;
  display: block;
}

.modal-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: #757575;
  margin-left: 8px;
}
.modal-link {
  color: #4d5ae5;
  text-decoration: underline;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
}

.modal-button {
  padding: 16px 32px;
  width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.label-checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.icon {
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.checkbox:checked + .icon {
  background: #404bbf;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
}
